.white-form{
	-fx-background-color:#fff;
}
.changer-header {
    -fx-background-color: #fff;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-text-fill:linear-gradient(to bottom right, #CCBFA3, #737A5D);
}

.changer-table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
}


.changer-table-view .column-header, .changer-table-view .filler {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.changer-table-view .cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000;
}

.changer-label {
    -fx-text-fill: #999471; 
    -fx-font-size:20px;
    -fx-font-family:Arial;
    -fx-alignment: center;
}

.changer-action-btn {
    -fx-background-color: linear-gradient(to bottom right, #CCBFA3, #737A5D);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.changer-action-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #737A5D, #CCBFA3);
}

.changer-logout-btn {
    -fx-cursor: hand;
    -fx-border-color: linear-gradient(to bottom right, #CCBFA3, #737A5D); 
    -fx-text-fill: white; 
    -fx-background-color: linear-gradient(to bottom right, #CCBFA3, #737A5D); 
    -fx-border-width: 1px;
    -fx-background-radius:5px;
    -fx-font-size:14px;
    -fx-font-family:Arial;
}

.changer-logout-btn:hover {
    -fx-background-color: white; 
	-fx-text-fill: linear-gradient(to bottom right, #CCBFA3, #737A5D);
}